/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

  @font-face {
    font-family: 'Museo700Regular';
    src: url('Museo700-Regular-webfont.eot');
    src: url('Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo700-Regular-webfont.woff') format('woff'),
         url('Museo700-Regular-webfont.ttf') format('truetype'),
         url('Museo700-Regular-webfont.svg#Museo100Regular') format('svg');
    font-weight: normal;
    font-style: normal;

  }

h1 {
font-family: 'Museo700Regular';
font-weight: bold;
font-size: 36px;
margin-left: -22px;
margin-top: 10px;
}

h4 {
  margin-bottom: 0 !important;
  margin-top: 20px;
}

.logo {
  margin-top: 7px;
}

#fadeContainer {
    position: relative;
}
#fadeContainer img {
    position: absolute;
}

.desc {
  font-size: 20px;
  text-align: left;
  color: #fff;
}

.date {
  font-size: 20px;
  text-align: right;
  color: #c3c3c3;
}

.curve {
  background-color: #fff;
  border-bottom-left-radius: 100% 300px;
  border-bottom-right-radius: 100% 300px;
  margin-top: -200px;
  margin-bottom: 200px;
}

.bottom {
  background-color: #000;
  border-top-left-radius: 100% 100px;
  border-top-right-radius: 100% 100px;
  margin-top: -60px;
}

.progress {
  padding: 15px;
  background-color: #33ccff;
  margin: -235px auto 100px auto;
  width: 300px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 1% 10px;
  border: 4px solid #fff;
  opacity: .95
}

mark {
  padding: 5px 5px;
  font-size: 12px;
}

.todo {
  text-align: left;
}

.todo li {
  color: #c3c3c3;
  font-size: 16px;
}

.todo.active li {
  color: #99ff99;
}


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}

h4 {
  text-align: center;
  width: 100%;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
  text-shadow: 1px 1px 2px black; 
  font-size: 16px;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description { 
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 1rem 0 28rem;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    max-height: 800px;
    top: -2rem;
  }
}